@model EncuentraAtuMascota.Models.MiMascota

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MiMascota</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tamaño)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tamaño)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Raza)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Raza)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripción)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripción)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreDueno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreDueno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FotoMascota)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FotoMascota)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
