@model IEnumerable<EncuentraAtuMascota.Models.MiMascota>

@{
    ViewData["Title"] = "Administrar Mascotas";
}

<h2>Administrar Mascotas</h2>

<p>
    <a asp-action="Crear">Registrar Mascota</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tamaño)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raza)
            </th>
            <th>
                Descripción
                @*@Html.DisplayNameFor(model => model.Descripcion)*@
            </th>
            <th>
                Nombre del Dueño
                @*@Html.DisplayNameFor(model => model.NombreDueno)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                Foto de la Mascota
                @*@Html.DisplayNameFor(model => model.FotoMascota)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tamaño)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDueno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.FotoMascota)" height="220" width="260" />
            </td>
            <td>
                <a asp-action="Modificar" asp-route-id="@item.Id">Modificar</a> |
                <a asp-action="Detalle" asp-route-id="@item.Id">Detalle</a> |
                <a asp-action="Eliminar" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
