@model EncuentraAtuMascota.Models.MiMascota

@{
    ViewData["Title"] = "Detalle Mascotas";
}

<h2>Información de la Mascota</h2>

<div>
    <h4>MiMascota</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tamaño)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tamaño)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Raza)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Raza)
        </dd>
        <dt>
            Descripción
            @*@Html.DisplayNameFor(model => model.Descripcion)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            Nombre del Dueño
            @*@Html.DisplayNameFor(model => model.NombreDueno)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreDueno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt>
            Foto de la Mascota
            @*@Html.DisplayNameFor(model => model.FotoMascota)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FotoMascota)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Modificar" class="btn btn-primary" asp-route-id="@Model.Id">Ir a Modificar</a>
    <a asp-action="Administrar" class="btn btn-default active">Regresar</a>
</div>


