@model EncuentraAtuMascota.Models.MiMascota

@{
    ViewData["Title"] = "Eliminar";
}
<h2>Eliminar Mascotas</h2><hr />

<h5>Esta seguro que desea eliminar la Mascota?<br /></h5>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tamaño)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tamaño)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Raza)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Raza)
        </dd>
        <dt>
            Descripción
            @*@Html.DisplayNameFor(model => model.Descripcion)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            Nombre del Dueño
            @*@Html.DisplayNameFor(model => model.NombreDueno)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreDueno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt>
            Foto de la Mascota
            @*@Html.DisplayNameFor(model => model.FotoMascota)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FotoMascota)
        </dd>
    </dl>

    <form asp-controller="MiMascota" asp-action="Eliminar">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-primary" />
        <a asp-controller="MiMascota" asp-action="Administrar" class="btn btn-default active">Cancelar</a>
    </form>

</div>
